.dark {
  background-color: #242424 !important;
}

.dark .dark\:bg-hitam {
  background-color: #242424 !important;
}

.dark .dark\:text-green {
  --un-text-opacity: 1;
  color: #44bd87 !important;
}
.dark .dark\:text-white {
  color: #e3e3e3 !important;
}

.dark .dark\:bd-green {
  --un-text-opacity: 1;
  border: 1px solid !important;
  border-color: #44bd87 !important;
}

.dark body {
  background-color: #242424 !important;
}
