.dark {
  background-color: #242424 !important;
}

.dark .dark\:bg-hitam {
  background-color: #242424 !important;
}

.dark .dark\:text-green {
  --un-text-opacity: 1;
  color: #22c55e !important;
}
.dark .dark\:text-white {
  color: rgb(241 245 249) !important;
}

.dark .dark\:bd-green {
  --un-text-opacity: 1;
  border: 1px solid !important;
  border-color: #22c55e !important;
}

.dark body {
  background-color: #242424 !important;
}
